<div class="min-h-screen text-white">
    <app-vendor-nav-bar [logedInUser] = "this.logedInUser"  />
    <div class="flex flex-col items-center justify-center mt-12">
        <div class="min-h-screens py-8">
            <div class="flex rounded-lg p-10 shadow-lg bg-gray-300 hover:bg-gray-100 focus:outline-none text-black hover:shadow-xl transition duration-300 transform hover:scale-105 mt-10 w-full">
                <div class="flex-1 w-72">
                    <h3 class="text-3xl font-bold text-center mb-3 uppercase underline">{{ ticketPurchase.event.eventName }}</h3>
                    <p class="mb-2 text-lg"><strong>Location:</strong> {{ ticketPurchase.event.eventLocation }}</p>
                    <p class="mb-2 text-lg"><strong>Price:</strong> ${{ ticketPurchase.event.eventPrice }}</p>
                    <p class="mb-2 text-lg"><strong>Organizer:</strong> {{ ticketPurchase.event.organizerEmail}}</p>              
                </div>
            </div>
        </div>
        <div class="bg-gray-700 bg-opacity-50 rounded-lg shadow-lg w-96">
            <div class="text-center text-3xl py-10">
              Purchase Tickets Form
            </div>
            <div class="text-white p-5">
              <form action="" method="post">
                <div class="flex items-center mb-6">
                  <input id="numOfTickets" name="numOfTickets" type="number" [(ngModel)]="numOfTickets" class="w-full p-4 rounded-md text-gray-800 focus:outline-none focus:bg-gray-200" placeholder="Enter number of Tickets" required>
                </div>
                <div>
                  <input type="submit" value="buy Tickets" class=" uppercase w-full p-4 bg-teal-500 text-white font-bold rounded-md hover:bg-teal-600 focus:outline-none cursor-pointer my-5" (click)="purchaseTickets()">
                  <hr>
                </div>
              </form>
            </div>
          </div>
    </div>
  </div>
