<div class="min-h-screen text-white">
  <app-welcome-nav-bar />
  <div class="flex justify-center mt-48">
    <div class="bg-gray-700 bg-opacity-50 rounded-lg shadow-lg w-96">
      <div class="text-center text-3xl py-10">
        Sign Up Form
      </div>
      <div class="text-white p-5">
        <form action="" method="post" class="form-login">
          <div class="flex items-center mb-6">
            <input id="email" type="text" class="w-full p-4 rounded-md text-gray-800 focus:outline-none focus:bg-gray-200" placeholder="Enter email" required>
          </div>
          <div class="flex items-center mb-6">
            <input id="username" type="text" class="w-full p-4 rounded-md text-gray-800 focus:outline-none focus:bg-gray-200" placeholder="Enter Username" required>
          </div>
          <div class="flex items-center mb-6">
            <input id="password" type="password" class="w-full p-4 rounded-md text-gray-800 focus:outline-none focus:bg-gray-200" placeholder="Enter Password" required>
          </div>
          <div>
            <input type="submit" value="SIGN UP" class="w-full p-4 bg-teal-500 text-white font-bold rounded-md hover:bg-teal-600 focus:outline-none cursor-pointer my-5">
            <hr>
          </div>
          <div class="flex mt-5 justify-around">
            <p>Already have an Account?</p>
            <u>
              <a routerLink="/signIn" class="font-bold text-md">SIGN IN</a>
            </u>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</div>